
html,
body {
    height: 100%;
    font-size: 1rem;
}
.page-header {
    margin-top: 4rem;
}
.gradient {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}
